<p>add-product works!</p>
<form [formGroup]="registerForm">
  <div class="form-group">
    <label >ID</label>
    <input type="number" class="form-control" formControlName="id" aria-describedby="emailHelp" placeholder="Enter id">
  </div>
  <div class="alert alert-danger" *ngIf="this.registerForm.controls['id'].invalid && this.registerForm.controls['id'].touched">
    <p *ngIf="this.registerForm.controls['id'].hasError('required')">id</p>

  </div>
  <div class="form-group">
    <label >title</label>
    <input type="text" class="form-control" formControlName="title" aria-describedby="emailHelp" placeholder="Enter title">
  </div>
  <div class="alert alert-danger" *ngIf="this.registerForm.controls['title'].invalid && this.registerForm.controls['title'].touched">
    <p *ngIf="this.registerForm.controls['title'].hasError('required')">title required</p>
  <p *ngIf="this.registerForm.controls['title'].hasError('minlength')">title min length 6</p>
  </div>

  <!-- <p *ngIf="this.registerForm.controls['pwd'].hasError('pattern')"> password pattern </p>-->



  <div class="form-group">
    <label >price</label>
    <input type="number" class="form-control" formControlName="price" aria-describedby="emailHelp" placeholder="Enter price">
    <div class="alert alert-danger" *ngIf="this.registerForm.controls['price'].invalid && this.registerForm.controls['price'].touched">
      <p *ngIf="this.registerForm.controls['price'].hasError('required')">price required</p>
      <p *ngIf="this.registerForm.controls['price'].hasError('min')">price doit etre positive</p> </div>
  </div>

  <div class="form-group">
    <label >quantity</label>
    <input type="number" class="form-control" formControlName="quantity" aria-describedby="emailHelp" placeholder="Enter quantity">
    <div class="alert alert-danger" *ngIf="this.registerForm.controls['quantity'].invalid && this.registerForm.controls['quantity'].touched">
      <p *ngIf="this.registerForm.controls['quantity'].hasError('required')">quantity required</p>
      <p *ngIf="this.registerForm.controls['quantity'].hasError('min')">price doit etre positive</p> </div>
  </div>

  <div class="form-group">
    <label >like</label>
    <input type="number" class="form-control" formControlName="like" aria-describedby="emailHelp" placeholder="Enter Like">
    <div class="alert alert-danger" *ngIf="this.registerForm.controls['like'].invalid && this.registerForm.controls['like'].touched">
      <p *ngIf="this.registerForm.controls['like'].hasError('required')">like required</p>
      <p *ngIf="this.registerForm.controls['like'].hasError('min')">price doit etre positive</p> </div>
  </div>

  <button type="submit" class="btn btn-primary" [routerLink]="['/product']" [disabled]="registerForm.invalid" (click)="save()">Submit</button>
  <button type="submit" class="btn btn-primary" (click)="reset()">Reset</button>

</form>
